@model List<Models.Chat>

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        @foreach (var item in Model)
            {
                <a class="list-group-item list-group-item-action" id="list-message-@item.Id" data-toggle="list" href="#list-@item.Id" role="tab" aria-controls="profile">@item.Naam</a>
            }
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent" style="height: 40vw !important">
        @foreach (var item in Model)
        {
            <div class="tab-pane fade h-100" id="list-@item.Id" role="tabpanel" aria-labelledby="list-message-@item.Id">
                <div class="card h-100">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        }
    </div>
  </div>
</div>

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
    });
</script>






<script>
    const Item = (naam, datum, sender, message) => {
         `<div class="card-outline w-100 h-25">   
            <p class="text-right">${data.verzender} - ${data.datum.toLocaleDateString("en-US", options)}
            <div class="card d-inline-block ${data.IsVerzender == ? 'float-right' : 'float-left'}" style="background-color: ${data.IsVerzender ? 'yellow' : 'blue'};">
                <div class="card-body">
                    ${message}
                </div>
            </div>
        </div>`;
</script>