@using Microsoft.AspNetCore.Identity

@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - wdpr</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
  <partial name="_Navigation" />
  <main class="container" role="main">
    @RenderBody()
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Zorg Maatschap Den Haag, 2021 | Website ontwikeld door Groep B</span>
    </div>
  </footer>
  <!-- Footer -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
