@model ResultPageModel

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading font-weight-bold">@Model.Titel</h1>
        <p class="lead">@Model.Beschrijving</p>
      </main>
    </div>