@{
    ViewData["Title"] = "Diensten";
}


<div class="WatDoenWij">
    <img src="~/images/placeholder-banner.png" class="img-fluid"
        alt="Een doktor en een patient die samen een gesprek voeren">
</div>

<br><br>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="~/images/aandoeningen.png" class="img-fluid float-left"
                    alt="Een man houdt zijn voorhoofd vast want dat toont aan dat hij iets heeft, ook wel een aandoening genoemd.">
            </div>
            <div class="col-lg-6 align-self-center">
                <h2 style="font-weight: bold">Aandoeningen</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo
                    consequat.</p>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="WatDoenWij">
    <img src="~/images/ManenVrouwDienstne.png" class="img-fluid w-100" alt="Twee artsen die met elkaar praten.">
</div>

<br><br>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <h2 style="font-weight: bold">Training en coaching</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo
                    consequat.</p>
            </div>
            <div class="col-lg-6 ">
                <img src="~/images/Puzzel Hoofd.png" class="img-fluid float-left"
                    alt="Een puzzel waar een stukje mist in de persoon de brein.">
            </div>
        </div>
    </div>
</div>

<br><br>


<div class="upperContainerbruh bg-secondary ">
    <div class="container ">
        <div class="container-fluid ">
            <div class="row ">

                <div class="col-lg-6 align-self-center fortiefour">
                    <img src="~/images/tarieven.png" class="img-fluid float-left"
                        alt="Een plaatje met muntgeld en een rekenmachine">
                </div>
                <div class="col-lg-6 align-self-center">
                    <h2 style="font-weight: bold">Tarieven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo
                        consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>