@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4" style="width: 50%;">Welkom bij Zorg Maatschap Den Haag</h1>
    <p>Zorg Maatschap Den Haag is praktijk gespecialiseerd in orthopedagogie en psychologie. </p>
</div>
<div class="container" style=".container {
  position: relative;
  text-align: center;
  color: white;
}">
    <img src="~/images/unknown.png" alt="jongedame met hond" class="img-fluid" style=".bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}">
    <div class="bottom-left">Bottom Left</div>  
</div>
