@model wdpr.Gebruiker

@{
    ViewData["Title"] = "LeeftijdVragenAanmelden";
}

<h1>Aanmelden</h1>

<h4>Gebruiker</h4>
<p>Voordat je een aanmelding doet willen wij graag weten hoe oud jij bent.</p>
<hr />
<div class="btn-group">
  <a href="#" class="btn btn-primary">Het kind is jonger dan 12 jaar oud.</a>
  <a href="#" class="btn btn-primary">De jongere is tussen de 12 en 16 jaar oud.</a>
  <a href="#" class="btn btn-primary">De jongere is 16 jaar of ouder.</a>
</div>

