@model ChatViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<Gebruiker> userManager 

@if (Model.Deelnames.Any())
{
<div class="row mb-5">
  @if (User.IsInRole("Behandelaar"))
  {
      <input type="hidden" id="IsBehandelaar" value="True">
  } else {
      <input type="hidden" id="IsBehandelaar" value="False">

  }
  <div class="col-4">
    <div id="myList" class="list-group" id="list-tab" role="tablist">
        @foreach (var item in Model.Deelnames)
            {
                <a class="list-group-item list-group-item-action" id="list-message-@item.Chat.Id" data-user-is-blocked="@item.Geblokkeerd" data-chat-link-id="@item.Chat.Id" data-toggle="list" href="#list-@item.Chat.Id" role="tab" aria-controls="profile">@item.Chat.ChatNaam(Model.Gebruiker)</a>
            }
    </div>
  </div>
  <div class="col-8">
    <div id="block-alert" class="alert alert-danger" style="display: none"></div>
    <div class="tab-content" id="nav-tabContent" style="height: 37vw !important">
            <div class="tab-pane h-100 active" id="list" role="tabpanel" aria-labelledby="list-message">
                <div class="card h-100">
                    <div id="messageContent" class="card-body" style="max-height: 100%; overflow-x: scroll; overflow-x: hidden;">
                        <h1>Selecteer een chat om een gesprek te starten</h1>
                    </div>
                </div>
            </div>
            <div id="chatInput" class="row pt-2" style="display: none;">
                <div class="col-md-8">
                    <input type="text" class="form-control w-100" id="messageInput" aria-describedby="bericht" placeholder="Bericht">
                    <input type="hidden" id="currentSelected" value="">
                    <input type="hidden" id="currentSender" value="false">
                    <input type="hidden" id="reportedMessage">
                    <input type="hidden" id="currentUser" value="@Model.Gebruiker.Email">
                </div>
                <div class="col-md-4">
                    <button type="button" id="sendButton" value="Verzenden"  class="btn btn-primary w-100">></button>
                </div>
            </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Anonieme melding maken</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="exampleFormControlInput1">Melding</label>
            <input type="text" class="form-control" id="meldingInput">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelReport" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
        <button type="button" id="confirmReport" data-dismiss="modal" class="btn btn-primary">Opslaan</button>
      </div>
    </div>
  </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
} else {
    <h1>Je hebt nog geen chats. Start eentje om toegang te krijgen tot de chat module</h1>
}
