@{
  ViewData["Title"] = "Home Page";
}

<div class="WatDoenWij">
        <img src="~/images/placeholder-banner.png" class="img-fluid" alt="Een doktor en een patient die samen een gesprek voeren">
</div>

<br><br>

<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 ">
        <img src="~/images/Doktor_en_patient.png" class="img-fluid float-left" alt="Een doktor en een patient die samen een gesprek voeren">
      </div>
      <div class="col-lg-6 align-self-center">
        <h2 style="font-weight: bold">Over Ons</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Klik <a href="#">Hier</a> om meer over dit te lezen</p>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="WatDoenWij">
        <img src="~/images/placeholder-banner.png" class="img-fluid" alt="Een doktor en een patient die samen een gesprek voeren">
</div>

<br><br>

<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <h2 style="font-weight: bold">Voor Wie?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Klik <a href="#">Hier</a> om meer over dit te lezen</p>
      </div>
      <div class="col-lg-6 ">
        <img src="~/images/Studenten_voor_wie.png" class="img-fluid float-left" alt="Jongeren die samen een boek lezen.">
      </div>
    </div>
  </div>
</div>

<br><br>