@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4" style="width: 50%;">Welkom bij Zorg Maatschap Den Haag</h1>
    <p>Zorg Maatschap Den Haag is praktijk gespecialiseerd in orthopedagogie en psychologie. </p>
</div>
