@{
    ViewData["Title"] = "Diensten";
}


<div class="WatDoenWij">
    <img src="~/images/placeholder-banner.png" class="img-fluid"
        alt="Een doktor en een patient die samen een gesprek voeren">
</div>

<br><br>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="~/images/aandoeningen.png" class="img-fluid float-left"
                    alt="Een man houdt zijn voorhoofd vast want toont dat die iets heeft, ook wel een aandoening genoemd.">
            </div>
            <div class="col-lg-6 align-self-center">
                <h1 style="font-weight: bold">Klachten</h2>
                    <p>
                        Zorg maatschap Den Haag streeft altijd naar het best haalbare. Klachten en feedback zijn hier
                        een belangrijk onderdeel van.
                        Zo kunnen wij ons blijven verbeteren en u zo goed mogelijk helpen. Om een goede oplossing te
                        zoeken vragen wij u bij het indienen van
                        een klacht deze zo uitgebreid mogelijk te beschrijven. Mocht u de klacht liever anoniem indienen
                        is dit ook mogelijk. Echter is het dan
                        niet mogelijk voor ons om contact met u op te nemen.
                    </p>
            </div>
        </div>
    </div>
</div>
<hr/ class="mt-5">
<br><br>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <h2 style="font-weight: bold">Wat gebeurt er met uw klacht?</h2>
                <p>
                    Klachten zijn natuurlijk nooit leuk. Wij gaan om deze rede ook professioneel met onze klachten om.
                    Dit verzekeren wij u om de negatieve gevolgen van een klacht met betrekking tot een cliënt te
                    minimaliseren.
                    Indien mogelijk nemen wij contact met u om u te helpen. Na het gesprek met u gaan wij direct met de
                    desbetreffende
                    persoon/personen in gesprek. Zo proberen wij beide kanten van het verhaal te begrijpen. Daarna is
                    het een kwestie van
                    het zoeken naar een oplossing. Voordat wij acties gaan ondernemen die gevolgen hebben voor u/de
                    client, zullen wij eerst
                    indien mogelijk contact opnemen met u. Zo kunnen wij onze beweegreden toelichten en mogelijk nog
                    aanpassen.
                </p>
            </div>
            <div class="col-lg-6 ">
                <img src="~/images/Puzzel Hoofd.png" class="img-fluid float-left"
                    alt="Een puzzel waar een stukje mist in de persoon de brein.">
            </div>
        </div>
    </div>
</div>
</div>