@{
    ViewData["Title"] = "Over ons";
}
<br><br><br><br>
<div class="container">
    <h2 style="font-weight: bold;"class="text-center">Over ons</h2>
    <br>
    <h5 class="text-center">Onze missie als Praktijk voor orthopedagogiek & zorg maatschap den haag is om jongeren te helpen met psychische aandoeningen zoals faalangst, ADD, ADHD enz. we doen Dit met een enthousiast team van gespecialiseerde orthopedagogen. Deze orthopedagogen zullen doormiddel van online gesprekken de jongeren op de best mogelijke manier proberen te coachen. Wij hopen hierdoor dat de jongeren een betere toekomst te wachten staat.m.</h5>
</div>

<br><br>

<div class="WatDoenWij">
    <img src="~/images/JongerenKijkenLaptop.png" class="img-fluid w-100"
        alt="Een doktor en een patient die samen een gesprek voeren">
</div>

<br><br>



<div class="container">
    <h2 style="font-weight: bold;"class="text-center">Onze Team</h2>
    <br>
</div>

<br><br>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="~/images/JessicaAlba.png" class="img-fluid float-left"
                    alt="Hoofd Pedagoog Jessica Alba">
            </div>
            <div class="col-lg-6 align-self-center">
                <h2 style="font-weight: bold">Wat onderscheid ons?</h2>
                <p>
                    Wij onderscheiden ons van andere praktijken, doordat wij in plaats van algemene orthopedagogen gespecialiseerde orthopedagogen 
                    hebben zo hebben we voor de verschillende aandoeningen een orthopedagoog die zich heeft gespecialiseerd op een bepaalde aandoening. 
                     Zo hebben wij bijvoorbeeld een orthopedagoog die zich gespecialiseerd heeft op ADHD en een ander weer op ADD. 
                </p>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 align-self-center ">
                <h2 style="font-weight: bold">Onze kernwaardes</h2>
                <p>
                    Bij onze praktijk hebben we drie kernwaarden. De eerste kernwaarde is dat de jongere die bij ons in behandeling zijn centraal staan.
                    Zo zullen de orthopedagogen alles doen wat in hun vermogen is om de jongeren zo optimaal mogelijk te helpen. De tweede kernwaarde is 
                    dat we altijd goed luisteren naar wat het kind te vertellen heeft, zodat het kind zich gehoord voelt. Als derde vinden wij het cruciaal 
                    dat de gegevens van u kind goed gewaarborgd is. Om dit voor elkaar te krijgen hebben we een privacy beleid opgesteld en de software goed beveiligd.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/images/EgbertaVanDerLugt.png" class="img-fluid float-left" alt="Egberta Van Der Lugt">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" style="padding: 5px 16px;background-color: #535353;color: white;border-radius: 6px;">
    <h2 style="font-weight: bold;"class="text-center">Over ons</h2>
    <br>
    <p class="text-center">
        Als uw als ouder bezorgd bent over uw kind, omdat die wellicht psychische problemen heeft bent u aan het juiste adres. 
        In onze praktijk zijn we gespecialiseerd in de psychische aandoeningen faalangst, ADHD, ADD en concentratie en leerproblemen. 
        <br/>
        <br/>
        Uw kind is in goede handen bij onze praktijk. Hier werken orthopedagogen die zich hebben gespecialiseerd in een van de genoemde aandoeningen. 
        Deze Specialisten gaan met liefde uw kind helpen! Ook gaan wij vertrouwelijk om met de gegevens van uw kind er is geavanceerde software gebouwd in 
        combinatie met een goed privacy beleid om de gegevens van uw kind zo goed mogelijk te beveiligen.
    </p>
</div>

<br><br>
